@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 250, 248, 245;
  --background-end-rgb: 255, 255, 255;
}

/* :root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


@layer base {
  .btn {
    @apply  rounded-md px-4 py-2;
  };

  .btn-text {
    @apply border border-red-500 dark:border-red-600 ;
  };

  .btn-small {
    @apply px-4 py-2 text-xs;
  };

  .btn-contained {
    @apply bg-red-500 dark:bg-red-600 text-white;
  }

  .btn-icon {
    @apply px-3 py-1.5;
  }
}